package {{package}}.neoforge;

import net.neoforged.fml.common.Mod;
import {{package}}.{{ModClass}};

@Mod({{ModClass}}.MOD_ID)
public final class NeoForgeModEntry {
    public NeoForgeModEntry() {
        {{ModClass}}.init();
    }
}
